
/* змінні */
:root{
    /* шрифти */
    --main-font:"roboto";
    --secondary-font:"Raleway";

    /* колір тексту */
    --acceent-color:#2196F3;
    --dark-text-color:#212121;
    --light-text-color:#fff;
    --description-color:#757575;    
    --bg-color:#FFFFFF;

    /* others */

    --items:4;
    --indent: 30px;

}

body {
    font-family: var(--main-font);
    font-size: 14px;
    background-color: var(--bg-color);
   
}

/* reset */

h1, h2, h3, h4, p{
    margin: 0;
}

img{
    display: block;
    max-width: 100%;
    height: auto;
}

/* reset */

.container{
    width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}


/* common styles start */
.list {
    list-style: none;
    margin: 0;
    padding: 0;
}
.link {
    text-decoration: none;
}

.no-scroll{
    overflow: hidden;
}
/* common styles end */


/* Сітка FLEX-BOX START */
.card-set{
    display: flex;
    flex-wrap: wrap;
    margin: calc(-1 * var(--indent) / 2);
}

.card-set-item {
    flex-basis: calc((100% - var(--indent) * var(--items) ) / var(--items) );
    margin: calc(var(--indent) / 2);
}
/* Сітка FLEX-BOX END */


/* header section start */
.header{
    /* display:inline-flex; */

    background-color: var(--bg-color);
}
.logo{
    font-family:var(--secondary-font);
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: var(--acceent-color);
}

.header-logo{
    margin-right: 93px;
}

.header .logo-color{
color:black;
}

.header-list-contact{
    margin-left: auto;
}

.header-list-item:not(:last-child){
    margin-right: 50px;
}

.header-link{
    padding-top: 32px;
    padding-bottom: 32px;
    display: block;
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color:var(--dark-text-color);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header-link:hover,
.header-link:focus{
    color:var(--acceent-color);
}

.header-contact{
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color:var(--description-color);
}

.header-contact-icon{
    margin-right: 10px;

    fill: var(--description-color);

    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1)
}


.header-contact:hover,
.header-contact:focus{
    color:var(--acceent-color);
}

.header-contact:hover .header-contact-icon,
.header-contact:focus .header-contact-icon{
    fill:var(--acceent-color);
}


.header-container{
    display: flex;
    align-items: center;
}

.header-list{
    display: flex;
} 

.header-list-item{
    position: relative;
}

.current{
    color: var(--acceent-color);
}

.header-link.current::before{
    content: "";

    position: absolute;

    bottom: 0;
    left: 0;

    width: 100%;
    height: 4px;

    background-color: var(--acceent-color);
    border-radius: 2px;

}

.header-link:hover::before,
.header-link:focus::before{
    content: "";

    position: absolute;

    bottom: 0;
    left: 0;

    width: 100%;
    height: 4px;

    background-color: var(--acceent-color);
    border-radius: 2px;

}

/* header section end */

/* hero section start */
.hero{
    max-width: 1600px;
    margin-left: auto;
    margin-right: auto;

    text-align: center;
    padding-top: 200px;
    padding-bottom: 200px;

    background-color: #2F303A;
    background-image: linear-gradient(to right,rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/home/hero/hero-bg.jpeg) ;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.hero-title{
padding-bottom: 30px;

font-family: var(--main-font);
font-weight: 900;
font-size: 44px;
line-height: 1.36;
letter-spacing: 0.06em;
text-transform: uppercase;
color: var(--light-text-color);
}

.hero-btn{
    padding: 10px 32px;
    margin-left: auto;

    font-family: var(--main-font);
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;

    text-align: center;
    letter-spacing: 0.06em;
    cursor: pointer;

    color: var(--light-text-color);
    background-color: var(--acceent-color);

    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    border: 0px;
}

.hero-btn:hover,
.hero-btn:focus{
    background-color: #188CE8;
        animation: shake-lr 0.7s cubic-bezier(0.455, 0.030, 0.515, 0.955) both;
}
/* hero section end */

/* Feature section start */

.feature{
    padding-top: 94px;
    padding-bottom: 94px;

}

.feature-title{
    display: none;
}


.feature-sub-title{
    margin-bottom: 10px;

    font-family: var(--main-font);
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--dark-text-color);
}

.feature-description{
    font-family: var(--main-font);
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--description-color);
}

.feature-wraper{
    height: 120px;

    margin-bottom: 30px;
    
    display: flex;
    justify-content: center;
    align-items: center;

    background-color: #F5F4FA;
    border-radius: 4px;
}


/* examples section end */
.examples{
    padding-bottom: 94px;
}

.examples-title{
    margin-bottom: 50px;

    font-family: var(--main-font);
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--dark-text-color);
}


.examples-list-item{
    position: relative;
    
    --items:3;
}

.examlpe-description{

    position: absolute;

    bottom: 0;
    left: 0;

    width: 100%;

    padding-top: 27px;
    padding-bottom: 27px;

    font-family: var(--main-font);
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    text-align: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;

    color: var(--light-text-color);

    background-color: rgba(47, 48, 58, 0.8);
}
/* examples section start */

/* team section end */
.team{
    padding-top: 94px;
    padding-bottom: 94px;

    background-color: #F5F4FA;
}

.team-title{
    margin-bottom: 50px;

    font-family: var(--main-font);
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--dark-text-color);
}

.team-card{
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
}

.employee{
    margin-bottom: 50px;
}


.team-employee{
    margin-bottom: 10px;

    font-family: var(--main-font);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--dark-text-color);
}

.team-position {
    margin-bottom: 16px;

    font-family: var(--main-font);
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--description-color);
}

/* Оформление иконок */

.social-media{
    display: flex;
    justify-content: center;
    padding-left: 0;
    
}


.social-media-item:not(:last-child){
    margin-right: 10px;

    padding-bottom: 30px;
    
}

.social-media-link{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 44px;
    height: 44px;

    border-radius: 50%;

    background-color: var(--bg-color);

    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-media-link:hover,
.social-media-link:focus{
    background-color: var(--acceent-color);
}

.social-media-icon{
    fill: #AFB1B8;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-media-link:hover .social-media-icon,
.social-media-link:focus .social-media-icon{
    fill: var(--bg-color);
}

/* team section end */


/* clients section start */
.clients{
    padding-top: 94px;
    padding-bottom: 94px;
}

.clients-title{
    font-family: var(--main-font);
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    /* line-height: 42px; */
    line-height: 117%;
    text-align: center;
    letter-spacing: 0.03em;

    color: var(--dark-text-color);

    margin-bottom: 50px;
}

.clients-list{
    display: flex;
    --items: 6;
}

.clients-list-item{
    display: flex;

    height: 92px;

    justify-content: center;
    align-items: center;

    border: 1px solid #AFB1B8;

    transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);

}

.clients-icon{
    fill: #AFB1B8;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.clients-list-item:hover {
    border: 1px solid #2196F3;

}

.clients-list-item:hover .clients-icon{
    fill: #2196F3;

}



/* clients section end */


/* portfolio start */
.portfolio{
    padding-bottom: 94px;
    background-color: var(--bg-color);
}

.portfolio-title{
    display: none;
}

.portfolio-filter{
    padding-top: 94px;
    margin-bottom: 50px;
    display: flex;
    justify-content: center;


}

.portfolio-filter-item:not(:last-child){
    margin-right: 8px;
}

.portfolio-btn{
    padding: 6px 22px;

    font-family: var(--main-font);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--dark-text-color);

    background-color: #F5F4FA;
    border-radius: 4px;
    border: 0px;
}
.portfolio-btn.current{
    color: var(--light-text-color);
    background-color: #2196F3;
}

.portfolio-btn:hover,
.portfolio-btn:focus{
    color: var(--light-text-color);
    background-color: #2196F3;
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
    border-radius: 4px;
}

.portfolio-list{
    --items:3;
}

/* .portfolio-overlay{
    position: relative;

    overflow: hidden;
} */

.portfolio-list-item:focus,
.portfolio-list-item:hover{
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.portfolio-list-item:hover .portfolio-overlay{
    transform: translateY(0%);

}

.portfolio-wrapper{
    padding: 20px 24px;

    background: #FFFFFF;
    border: 1px solid #EEEEEE;
    border-top: none;
}

.portfolio-project-title{
    margin-bottom: 4px;
    font-family: var(--main-font);
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;

    color: var(--dark-text-color);
}

.portfolio-project-desc{
    font-family: var(--main-font);
    font-weight: 400;
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.03em;

    color: var(--description-color);
}

.portfolio-overlay-wrapper{
    position: relative;
    overflow: hidden;
}

.portfolio-overlay{
    position: absolute;
    top: 0;
    left: 0;

    transform: translateY(100%);

    width: 100%;

    display: flex;
    align-items: center;
    justify-content: center;



    background-color: rgba(33, 150, 243, 0.9);

    transition: transform cubic-bezier(0.4, 0, 0.2, 1) 250ms;
}

.portfolio-desc{
    padding: 63px 24px;


    font-family: var(--main-font);
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.56;

    letter-spacing: 0.03em;

    color: var(--light-text-color);
}

/* portfolio end */

/* footer start */
.footer{
    padding-top: 60px;
    padding-bottom: 60px;

    background-color: #2F303A;
}

.footer-wrapper{
    display: flex;
    align-items: baseline;

}


.footer .logo-color{
color: var(--light-text-color);
}

.adds{
    margin-top: 20px;
    margin-bottom: 9px;

    font-family: var(--light-text-color);
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--light-text-color);
}

.footer-link-wrapper{
    margin-right: 93px;
}

.footer-link{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
}

.footer-list-item:not(:last-child){
    margin-bottom: 9px;
}

.footer-title{
    font-family: var(--main-font);
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;

    color: var(--light-text-color);
}

.footer-contact-wrapper{
    margin-right: 70px;
}

.footer-media{
    margin-top: 20px;
    margin-bottom: 0;
}
.footer-media-link{
    background-color: rgba(255, 255, 255, 0.1);;
}

.subs-form-title{
    display: block;

    font-family: var(--main-font);
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;

    margin-bottom: 20px;

    color: var(--light-text-color);
}


.subs-form{
    display: flex;
    gap: 12px;
}

.subs-form-input-mail{
    height: 50px;
    min-width: 358px;

    padding-left: 16px;
    padding-right: 16px;

    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 4px;
    outline: 2px solid transparent;
    outline-offset: -2px;
    cursor: pointer;

    background-color: transparent;

    font-family: var(--main-font);
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    align-items: center;
    letter-spacing: 0.03em;
        
    color: var(--light-text-color);
}

.subs-form-input-mail::placeholder{

}

.subs-form-button{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;

    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;

    gap: 10px;
    padding: 10px 29px;

    cursor: pointer;

    color: var(--light-text-color);

    background-color: var(--acceent-color);

    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    border: 0px;}

    .subs-form-button-icon{
        fill: var(--light-text-color);
    }

/* footer end */

/* modal window start */
.backdrop{
    position: fixed;
    top: 0;
    left: 0;

    z-index: 1000;

    width: 100%;
    height: 100%;

    background-color:rgba(0, 0, 0, 0.2);

    transition: opacity cubic-bezier(0.4, 0, 0.2, 1) 250ms, visibility cubic-bezier(0.4, 0, 0.2, 1) 250ms;
}

.backdrop.is-hidden{
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
}

.modal{
    position: absolute;

    top: 50%;
    left: 50%;

    transform: translate(-50%, -50%);

    min-width: 528px;
    min-height: 581px;

    padding: 40px;

    background-color: var(--bg-color);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
}

.close-modal-btn{
    position: absolute;
    top: 0;
    right: 0;

    margin-right: 8px;
    margin-top: 8px;

    padding: 0;

    display: flex;
    align-items: center;
    justify-content: center;

    width: 30px;
    height: 30px;

    border: 1px solid rgba(0, 0, 0, 0.1);;
    border-radius: 50%;
    background-color: var(--light-text-color);

    cursor: pointer;
}

.close-modal-btn:hover .close-modal-btn-icon,
.close-modal-btn:focus .close-modal-btn-icon{
    fill: var(--acceent-color);
}

.modal-title{
    display: block;

    margin-bottom: 12px;
    margin-left: auto;
    margin-right: auto;

    font-family: var(--main-font);
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 1.15;
    text-align: center;
    letter-spacing: 0.03em;

    color: var(--dark-text-color);
}

.modal-form-label{
    display: block;

    margin-bottom: 4px;

    font-family: var(--main-font);
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 1,17;

    letter-spacing: 0.01em;

    color: #757575;
}

.modal-field-wrapper{
    position: relative;

    margin-bottom: 10px;
}

.modal-form-input{
    height: 40px;
    width: 100%;

    padding-left: 42px;
    padding-right: 42px;

    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;

    outline: 2px solid transparent;
    outline-offset: -2px;

    cursor: pointer;
}

.modal-form-input:focus,
.modal-form-input:hover{
    outline-color: var(--acceent-color);

    transition: cubic-bezier(0.4, 0, 0.2, 1) 250ms;
}

.modal-form-icon{
    position: absolute;

    top: 50%;
    left: 12px;

    transform: translateY(-50%);

    transition: fill cubic-bezier(0.4, 0, 0.2, 1) 250ms;

    pointer-events: none;
}

.modal-form-input:focus + .modal-form-icon,
.modal-form-input:hover + .modal-form-icon{
    fill: var(--acceent-color);
}

.modal-form-text{
    display: block;

    width: 100%;
    min-height: 120px;

    padding: 12px 16px;

    margin-bottom: 20px;

    resize: none;

    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
}

.modal-form-text::placeholder{
    font-family: var(--main-font);
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.01em;

    color: rgba(117, 117, 117, 0.5);
}

.modal-form-text:hover,
.modal-form-text:focus{
    outline-color: var(--acceent-color);

    transition: cubic-bezier(0.4, 0, 0.2, 1) 250ms;
}

.modal-btn{
    display: block;

    margin: 0 auto;
}

.modal-form-agreement{
    display: flex;
    align-items: center;
    justify-content: center;

    gap: 7px;

    margin-bottom: 30px;

    cursor: pointer;
}

.modal-form-agreement-text{
    font-family: var(--main-font);
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;


    letter-spacing: 0.03em;

    color: var(--description-color);
}

.modal-form-agreement-box{
    appearance: none;

    width: 16px;
    height: 15px;

    border: 2px solid #212121;

    border-radius: 2px;

    transition: cubic-bezier(0.4, 0, 0.2, 1) 250ms;

    background-image: url("data:image/svg+xml,%3Csvg width='13' height='10' viewBox='0 0 13 10' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1.95703 4.75166L1.88825 4.68604L1.81923 4.75141L0.93123 5.59258L0.854858 5.66492L0.930974 5.73753L4.42671 9.07236L4.49574 9.1382L4.56476 9.07236L12.069 1.91352L12.1449 1.84116L12.069 1.76881L11.1873 0.927644L11.1183 0.861826L11.0493 0.927611L4.49577 7.17353L1.95703 4.75166Z' fill='white' stroke='white' stroke-width='0.2'/%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 0;
}

.modal-form-agreement-box:checked{
    background-color: var(--acceent-color);
    border-color: var(--acceent-color);
    background-size: 13px;
}

.modal-form-agreement-link{
    color: var(--acceent-color);
}

.modal-btn{
    font-family: var(--main-font);
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;

    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;

    padding: 10px 55px;

    color: var(--light-text-color);
    background-color: var(--acceent-color);

    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border: 0;
    border-radius: 4px;

    cursor: pointer;
}

/* modal window end */

